<%= form_with(model: producto, local: true) do |form| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Descripcion" %>
    <%= form.text_field :prod_descrip %>
  </div>

  <div class="field">
    <%= form.label :iva %>
    <%= form.select :iva,  options_for_select(['5', '10']) %>
  </div>

  <div class="field">
    <%= form.label "Proveedor" %>
    <%= select_tag"producto[proveedore_id]",  options_for_select(@proveedores.map{|m|["#{m.razon_social}", m.id]}), id:"proveedore_id" %>  
  </div>

  <div class="field">
    <%= form.label "Marca" %>
    <%= select_tag"producto[marca_id]",  options_for_select(@marcas.map{|m|["#{m.marca_descrip}", m.id]}), id:"marca_id" %>  
  </div>

  <div class="field">
    <%= form.label "Categoria" %>
    <%= select_tag"producto[category_id]",  options_for_select(@categories.map{|m|["#{m.category_descrip}", m.id]}), id:"category_cmb" %>  
  </div>


<div>
<%= form.label :sub_category_id %><br> 
<%= form.select :sub_category_id, '<option value="">SubCategories</option>' %><br>
    <%= form.label "Sub Categoria" %>
    <%= select_tag"producto[sub_category_id]",  options_for_select(@sub_categories.map{|m|["#{m.sub_categ_descrip}", m.id]}), id:"sub_category_id" %>  
  </div>

  <div class="actions">
    <%= form.submit 'Guardar' %>
  </div>
<% end %>


<script>
              $(document).ready(function() {
                  $('select#marca_id').select2();
                });
</script>

<script>
$('#category_cmb').change(function() { // selecciona el select de paises y asigna el evento change, que el activarse ejectuara la funcion que contiene
    $.get ('<%= subCateg_lst_path %>.json', 
{
category_id: $("#category_cmb option:selected").val() //asigna la variable paise_id a la url, el valor lo obtiene del combo paise
}).done ( 
    function(data) 
          {
          $('#category_sub_category_id option').remove(); 

          $("<option />").attr({'value':"" }).text( "Seleccione"
          ).appendTo("#category_sub_category_id") ; 

          $.each(data, function (key, obj) // itera los datos key es
          {
          $("<option />").attr({
          'value':obj.id,
          }).text( obj.sub_categ_descrip ).appendTo

          ("#category_sub_category_id") }

//agrega uno por uno los datos de al select de estado

)
}

)
})
</script>

<script type="text/javascript">
   if (jQuery) {
     alert("jQuery esta cargado");
} else {
      alert("jQuery no esta cargado");
}</script>
