<p id="notice"><%= notice %></p>

<h1>Productos</h1>

                      <!-- formulario de busqueda -->
  <%= form_tag productos_path, method: :get do %>
      <div class="form-group">
          <%= text_field_tag :prod_descrip, params[:prod_descrip], class: "form-control", placeholder: "Descripcion" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
  <% end %>
                      <!-- fin formulario de busqueda -->

<table>
  <thead>
    <tr>
      <th>Prod descrip</th>
      <th>Iva</th>
      <th>Prod active</th>
      <th>Proveedore</th>
      <th>Marca</th>
      <th>Sub category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.prod_descrip %></td>
        <td><%= producto.iva %></td>
        <% if producto.prod_active == true %>  
          <td>Activo</td>
        <% else %>
          <td>Inactivo</td>
        <% end %>

        <td><%= producto.proveedore.razon_social %></td>
        <td><%= producto.marca.marca_descrip %></td>
        <td><%= producto.sub_category.sub_categ_descrip %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
