<p id="notice"><%= notice %></p>

<p>
  <strong>Prod descrip:</strong>
  <%= @producto.prod_descrip %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @producto.iva %>
</p>

<p>
  <strong>Prod active:</strong>
  <% if @producto.prod_active == true %>
    Activo
  <% else %>
    Inactivo
  <% end %>
</p>

<p>
  <strong>Proveedore:</strong>
  <%= @producto.proveedore.razon_social %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @producto.marca.marca_descrip %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @producto.sub_category.sub_categ_descrip %>
</p>

<p>
  <strong>Cantidad</strong>
  CASA MATRIZ <%= @producto.stock.stock %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
