<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @ciudade.descripcion %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @ciudade.activo %>
</p>

<%= link_to 'Edit', edit_ciudade_path(@ciudade) %> |
<%= link_to 'Back', ciudades_path %>
