<p id="notice"><%= notice %></p>

<h1>Categorias</h1>
                      <!-- formulario de busqueda -->
  <%= form_tag categories_path, method: :get do %>
      <div class="form-group">
          <%= text_field_tag :category_descrip, params[:category_descrip], class: "form-control", placeholder: "Descripcion" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
  <% end %>
                      <!-- fin formulario de busqueda -->
<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_descrip %></td>
        <% if category.category_active == true %>
          <td>Activo</td>
        <% else %>
          <td>Inactivo</td>
        <% end %>
        <td><%= link_to 'Mostrar', category %></td>
        <td><%= link_to 'Editar', edit_category_path(category) %></td>
        <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Categoria', new_category_path %>
