<p id="notice"><%= notice %></p>

<p>
  <strong>Razon social:</strong>
  <%= @proveedore.razon_social %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @proveedore.ruc %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @proveedore.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedore.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @proveedore.email %>
</p>

<p>
  <strong>Prov activo:</strong>
  <%= @proveedore.prov_activo %>
</p>

<%= link_to 'Edit', edit_proveedore_path(@proveedore) %> |
<%= link_to 'Back', proveedores_path %>
