<%= form_with(model: sub_category, local: true) do |form| %>
  <% if sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% sub_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sub_categ_descrip %>
    <%= form.text_field :sub_categ_descrip %>
  </div>

  <div class="field">
    <%= form.label :sub_categ_active %>
    <%= form.check_box :sub_categ_active %>
  </div>

  <div class="field">
    <%= form.label :category_id %><br>
    <%= select_tag"sub_category[category_id]",  options_for_select(@category.map{|c|["#{c.category_descrip}", c.id]}), id:"category_id" %>  
  </div>
 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
              $(document).ready(function() {
                  $('select#category_id').select2();
                });
</script>