<p id="notice"><%= notice %></p>

<p>
  <strong>Sub categ descrip:</strong>
  <%= @sub_category.sub_categ_descrip %>
</p>

<p>
  <strong>Sub categ active:</strong>
  <%= @sub_category.sub_categ_active %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sub_category.category.category_descrip %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>
